<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>사용자</th>
                <th>사업자등록번호</th>
                <th>등록 일자</th>
                <th>승인 여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="businessLicense : ${businessLicenses}">
                <td th:text="${businessLicense.businessLicenseId}"></td>
                <td th:text="${businessLicense.nickname}"></td>
                <td th:text="${businessLicense.registrationNumber}"></td>
                <td th:text="${#temporals.format(businessLicense.localDateTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <span th:if="${businessLicense.isRegisteredBusiness}">승인 완료</span>
                    <form th:unless="${businessLicense.isRegisteredBusiness}" th:action="'/admin/businessLicense/' + ${businessLicense.businessLicenseId} + '/allow'" method="post">
                        <button type="submit">승인</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="page-num"
         th:with="start=${(pages.number/maxPage)*maxPage + 1},
                  end=(${(pages.totalPages == 0) ? 1 : (start + (maxPage - 1) < pages.totalPages ? start + (maxPage - 1) : pages.totalPages)})" >
        <ul class="pagination">
            <li class="page-item" th:if="${start > 1}">
                <a class="page-link" th:href="@{/admin/boards?(page=1)}">
                    <span aria-hidden="true" th:text="'<<'"></span>
                </a></li>
            </li>

            <li class="page-item" th:if="${pages.number + 1 > 1}">
                <a class="page-link" th:href="@{/admin/cafes?(page=${pages.number})}">
                    <span aria-hidden="true" th:text="'<'"></span>
                </a>
            </li>
            <th:block>
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                    <a class="page-link" th:href="@{/admin/cafes?(page=${page})}" th:text="${page}"></a></li>
                </li>
            </th:block>
            <li class="page-item" th:if="${pages.number + 1 < pages.totalPages && end < pages.totalPages}">
                <a class="page-link" th:href="@{/admin/boards?(page=${pages.number + 2})}">
                    <span aria-hidden="true" th:text="'>'"></span>
                </a>
            </li>

            <li class="page-item" th:if="${end < pages.totalPages}">
                <a class="page-link" th:href="@{/admin/cafes?(page=${pages.totalPages})}">
                    <span aria-hidden="true" th:text="'>>'"></span>
                </a></li>
            </li>
        </ul>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
